body {
	height: 100vh;
	display: flex;
	flex-wrap: wrap;
	background: white;
	align-content: center;
	justify-content: center;
}

button {
	height: 120px;
	width: 250px;
	padding: 20px 20px;
	font-size: 30px;
}
